   
$primary: #343641;
$secondary: #6abfa5;
$tertiary: #f6eeba;
$accent: #f07167;
$text: rgb(5, 70, 92);
$header: #023342;
$whitetext: white;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
	color: #393939;
}

body {
	background-color: white;
	padding-top: 10px;
}

div.signup-pg {
	background-color: #fff;
	font-weight: bold;
	padding: 2%;
	width: 25%;
	min-width: 350px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	/* max-width: 16em; */
	/* box-shadow: 5px 5px 15px rgba(119, 117, 117, 0.664); */
	transform: translateY(30%);
}

div.login-form {
	background-color: #fff;
	padding: 2%;
	width: 30%;
	min-width: 350px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	/* max-width: 16em; */
	/* box-shadow: 5px 5px 15px rgba(119, 117, 117, 0.664); */
	transform: translateY(20%);
}

input {
	width: 100%;
	margin-bottom: 10px;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #efefef;
	font-size: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input.submit {
	width: 100%;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #e4e4e4;
	font-size: 15px;
	background-color: #32befffa;
	color: #fff;
	margin-top: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	outline: none;
}

input.submit:hover {
	width: 100%;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #32cd32;
	font-size: 15px;
	background-color: #32cd32;
	color: #fff;
	margin-top: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

button.logout-btn {
	display: flex;
	font-size: 1em;
	justify-content: center;
	border: 1px solid;
	border-radius: 2px;
	margin: 0 auto;
	// width: 3.7em;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	padding: 1px 5px;

	span {
		font-family: 'Material Icons Outlined';
	}
}

button.logout-btn:hover {
	display: flex;
	font-size: 1em;
	justify-content: center;
	border: 1px solid;
	background-color: $tertiary;
	border-radius: 2px;
	margin: 0 auto;
	width: 3.7em;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input.logout-btn:hover {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	transition: all 0.2s ease-in-out;
	line-height: 4px;
	background-color: rgb(134, 21, 21);
	border: 1px solid rgb(110, 110, 110);
	width: 1em;
	height: 1em;
	font-size: 8pt;
	margin-top: 1px;
	margin-right: 2px;
	position: relative;
	cursor: pointer;
}

button.signup-btn {
	padding: 2.5px;
	margin: 2px;
	font-size: 13px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: underline;
}

button.signup-btn:hover {
	cursor: pointer;
	color: #32cd32;
}