$primary: #343641;
$secondary: #6abfa5;
$tertiary: #f6eeba;
$accent: #f07167;
$text: rgb(5, 70, 92);
$header: #023342;
$whiteText: white;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
	color: #393939;
}

#header {
	background-color: transparent;
	color: rgb(43, 43, 43);
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 10px;

}

div.err-msg {
	color: red;
	font-size: 1.2em;
	margin-top: 10px;
	transform: translateX(-20%);
}

body {
	background-color: white;
	padding-top: 10px;
}

h1 {
	color: $primary;
	// background-color: $primary;
	background: none;
}

h2 {
	color: $primary;
	// background-color: $primary;
	background: none;
}

h3 {
	color: $primary;
	background-color: $primary;
	background: none;
}

h4 {
	color: $header;
}

.dashboard {
	background-color: #fff;
	padding: 2%;
	margin: 0 auto;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	width: 80%;
	height: 80%;
	transform: translateY(5%);
}

div.wrap {
	background-color: #fff;
	padding: 2%;
	width: 10%;
	min-width: 300px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	/* max-width: 16em; */
	/* box-shadow: 5px 5px 15px rgba(119, 117, 117, 0.664); */
	transform: translateY(110%);
}

div.signup-pg {
	background-color: #fff;
	font-weight: bold;
	padding: 2%;
	width: 10%;
	min-width: 300px;
	margin: 0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	/* max-width: 16em; */
	/* box-shadow: 5px 5px 15px rgba(119, 117, 117, 0.664); */
	transform: translate(2%, 40%);
}

div.login-field {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


//PopUp CSS
//Add Application Page
form.add{
	background-color: #fff;
	padding: 2%;
	margin: 0 auto;
	box-shadow: 0 0 5px #ccc;
	border: 1px solid #fff;
	width: 80%;
	height: 80%;
	transform: translateY(5%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
// .popup {
// 	position: absolute !important;
// 	top: 0 !important;
// 	left: 0 !important;
// 	// width: 100vh !important;
// 	// height: 100vh !important;
// 	box-shadow: 0 0 5px #ccc !important;
// 	border: 1px solid #fff !important;
// 	background-color: rgba(228, 228, 228, 0.2) !important;

// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-direction: column;
// }

// .popup-inner {
// 	position: absolute !important;
// 	padding: 32px !important;
// 	width: 100% !important;
// 	max-width: 640px !important;
// 	background-color: #fff !important;
// 	border-radius: 4px !important;
// }
//PopUp CSS

.outerBox {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: $primary;
}

.innerBox {
	padding: 10px;
	width: 95%;
	margin: 15px auto;
	border: 3px solid $secondary;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}


//Inputs CSS
input {
	width: 100%;
	margin-bottom: 10px;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #efefef;
	font-size: 15px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
input.add{
	width: 40%;
	height: 10px;
}
input.submit {
		width: 95%;
		padding: 5%;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 1px solid #e4e4e4;
		font-size: 15px;
		background-color: #32befffa;
		color: #fff;
		margin-top: 25px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		outline: none;
		transform: translateX(2%);
	}
	
input.submit:hover {
		width: 95%;
		padding: 5%;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border: 1px solid #32cd32;
		font-size: 15px;
		background-color: #32cd32;
		color: #fff;
		margin-top: 25px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		transform: translateX(2%);
}



.close-btn {
	display: flex;
	float: right;
	background: none;
	font-weight: bold;
	justify-content: center;
	width: 2%;
	padding: 8px;
	border: none;
	outline: none;
	transform: translateY(-30%);
}

.logout-btn:hover {
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	transition: all 0.2s ease-in-out;
	line-height: 4px;
	background-color: rgb(134, 21, 21);
	border: 1px solid rgb(110, 110, 110);
	width: 1em;
	height: 1em;
	font-size: 8pt;
	margin-top: 1px;
	margin-right: 2px;
	position: relative;
	cursor: pointer;
}

.addApp {
	// position: absolute;
	display: flex;
	justify-content: center;
	text-align: left;
	width: 12%;
	padding: 8px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #353030a1;
	font-size: 12px;
	background-color: $primary;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

//Inputs CSS




button.logout-btn {
	display: flex;
	font-size: 1em;
	justify-content: center;
	border: 1px solid;
	border-radius: 2px;
	margin: 0 auto;
	// width: 3.7em;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	padding: 1px 5px;

	span {
		font-family: 'Material Icons Outlined';
	}
}

button.logout-btn:hover {
	display: flex;
	font-size: 1em;
	justify-content: center;
	border: 1px solid;
	background-color: $tertiary;
	border-radius: 2px;
	margin: 0 auto;
	width: 3.7em;
	float: right;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

button.signup-btn {
	padding: 2.5px;
	margin: 2px;
	font-size: 13px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: underline;
}

button.signup-btn:hover {
	cursor: pointer;
	color: #32cd32;
}

button.submit {
	width: 80%;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #e4e4e4;
	font-size: 15px;
	background-color: #32befffa;
	color: #fff;
	margin-top: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	outline: none;
	transform: translateX(13%);
}

button.submit:hover {
	width: 80%;
	padding: 5%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #32cd32;
	font-size: 15px;
	background-color: #32cd32;
	color: #fff;
	margin-top: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	transform: translateX(13%);
}

span.errorMessage {
	color: darkred;
	font-size: 0.5em;
	margin-left: 30px;

}

.stats-bar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	.stats-title {
		align-self: flex-start;
	}
	.stats-container {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		border-style: solid;
		border-color: lightgray;
	}
	.chart-container {
		width: 80%;
	}

}

